$primary-color: #5cb7b0;

.page {
    //--------------------- Header-----------------//
    .header {
        .navbar {
            background-color: $primary-color;
            background-image: linear-gradient(90.11deg, #5cb7b0, #36dab1);
            .container-fluid {
                .navbar-brand {
                    margin-left: 1rem;
                    img {
                        width: 40%;
                        height: 40%;
                    }
                }
                .navbar-right {
                    margin-right: 3rem;
                    .cart {
                        display: flex;
                        background-color: #44c0a2;
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        margin-right: 1rem;
                    }
                    .notify {
                        display: flex;
                        background-color: #44c0a2;
                        width: 40px;
                        height: 40px;
                        color: #fff;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        margin-right: 3rem;
                    }
                    .user {
                        display: flex;
                        align-items: center;
                        .btn-name {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #ccc;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 100%;
                            border: none;
                            margin-right: 0.5rem;
                        }
                        p {
                            color: #fff !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            font-weight: 500;
                            position: relative;
                            &::before {
                                content: "";
                                right: -40%;
                                position: absolute;
                                border-top: 5px solid #fff;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    .sider {
        background-color: #fff;
        width: 15.625rem;
        height: 100vh;
        position: fixed;
        .sider-header {
            padding: 1.4rem;
            .user-name {
                margin-bottom: 1rem;
                display: flex;
                .name-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ccc;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100%;
                    border: none;
                    margin-right: 0.5rem;
                }
                .name {
                    flex-direction: column;
                    p {
                        width: 100%;
                        flex-wrap: wrap;
                        color: #000;
                        margin-bottom: 0.5rem;
                    }
                    .award {
                        font-size: 0.75em;
                        font-weight: 500;
                        text-align: center;
                        border-radius: 0.25rem;
                        background-color: #ccc;
                        color: #636363;
                        padding: 0.15rem 0.65rem;
                    }
                }
            }
            .upgrade {
                display: flex;
                background-color: rgba(179, 31, 102, 0.1);
                padding: 0.35rem 0.65rem;
                border-radius: 0.5rem;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem;
                img {
                    margin-right: 5px;
                }
                p {
                    margin: 0;
                    color: #b31f66;
                    font-weight: 500;
                }
            }
            .btn-create {
                position: relative;
                background-color: #ffb64a;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                color: #fff;
                padding: 0.375rem 0.75rem;
                height: 3.25rem;
                border-radius: 0.5rem;
                transition: all 0.3s;
                &:hover {
                    background-color: #fabe65;
                }
                i {
                    font-weight: 600;
                    margin-right: 5px;
                    padding-left: 1rem;
                }
                p {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    font-size: 1.125rem;
                    font-weight: 600;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 45%;
                        right: 10%;
                        border-top: 0.3em solid #fff;
                        border-left: 0.3em solid transparent;
                        border-right: 0.3em solid transparent;
                    }
                }
            }
        }
        .sider-body {
            .list-lesson {
                margin: 0;
                padding: 0;
                li {
                    cursor: pointer;
                    list-style-type: none;
                    &:hover {
                        background-color: #eff6f6;
                    }
                    a {
                        position: relative;
                        width: 100%;
                        text-decoration: none;
                        color: #484848;
                        padding: 1rem;
                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 2px;
                            font-size: 1.5rem;
                        }
                        p {
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 500;
                            color: #484848;
                        }
                    }
                    .active::before {
                        content: "";
                        width: 4px;
                        height: 100%;
                        background-color: $primary-color;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .content {
        background-color: #f8f9fc;
        height: 100vh;
    }
}
